<div class="container">
<% if user_signed_in? %>
  <% if current_user.last_cents_added_on.nil? || current_user.last_cents_added_on < Date.today %>
  
    <%= button_to 'Add 5 Cents', add_cents_users_path, method: :post %>
  <% end %>
  <% if current_user.admin? %>
  
    <%= button_to 'ADMIN 5 Cents', add_cents_users_path, method: :post %>
  <% end %>
<% end %>
<div class="link-images">

  <%= link_to image_tag("typewriter.PNG", alt: "Draft New Letter"), new_letter_path %>
  <%= link_to image_tag("mailbox-unread.PNG", alt: "View Received Letters"), letters_path %>
  <%= link_to image_tag("shop.png", alt: "Shop For Stamps"), stamps_path %>
</div>
</div>