<h1>Received Letters</h1>
<div class="container">
  <% if @unread_letters.any? %>
    <h2>Unread Letters</h2>
    <ul class="envelope-list">
      <% @unread_letters.each do |letter| %>
        <%= link_to open_letter_path(letter), class: 'envelope-link' do %>
          <li class="index-envelope">
            <div class="index-envelope-info">
              <strong>From:</strong> <%= letter.sender.username %><br>
              <strong>Sent at:</strong> <%= letter.created_at.strftime("%d %B %Y %H:%M") %><br>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <% if @read_letters.any? %>
    <h2>Read Letters</h2>
    <div class="paper-list">
      <% @read_letters.each do |letter| %>
        <%= link_to letter_path(letter), class: 'paper-link' do %>
          <div class="paper-sheet">
            <strong>From:</strong> <%= letter.sender.username %><br>
            <p><%= letter.content.truncate(20) %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% unless @unread_letters.any? || @read_letters.any? %>
    <p>You have no letters.</p>
  <% end %>
</div>
