<h1>Send a Letter</h1>

<%= form_with(model: @letter, data: { turbo: false }) do |form| %>
  <div class="field">
    <%= form.label :receiver_id, 'Recipient Address' %>
    <%= form.collection_select :receiver_id, User.all, :id, :username, prompt: 'Select a Recipient' %>
    <% if @letter.errors[:receiver_id].any? %>
      <div class="error">
        <%= @letter.errors.full_messages_for(:receiver_id).join(', ') %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit 'Send Letter' %>
  </div>

<% end %>
