<% if @letter.read_at %>
    <div class="letter-details">
      <span>Read at <%= @letter.read_at.strftime("%d %B %Y %H:%M") %></span>
    </div>
  <% end %>

<div class="letter-container">
  

  <div class="letter-details">
    <strong>From:</strong>
    <%= @letter.sender.username %>
  </div>

  <div class="letter-details">
    <strong>To:</strong>
    <%= @letter.receiver.username %>
  </div>

  <div class="letter-details">
    <strong>Sent At:</strong>
    <%= @letter.created_at.strftime("%d %B %Y %H:%M") %>
  </div>

  <div class="letter-content">
    <%= @letter.content %>
  </div>

  
</div>
<%= link_to 'Back to Inbox', letters_path %>
  
  <% if current_user == @letter.receiver %>
  <br>
  <br>
    <%= button_to 'Delete Letter', letter_path(@letter), 
        method: :delete, 
        data: { confirm: 'Are you sure you want to delete this letter?' }, 
        class: 'btn btn-danger' %>
  <% end %>
