<% if @letter.read_at %>
      <span>Read at <%= @letter.read_at.strftime("%d %B %Y %H:%M") %></span>
    <% else %>
      <span>Unread</span>
    <% end %>
<p>

<div class="letter-container">



  <strong>From:</strong>
  <%= @letter.sender.email %>
</p>

<p>
  <strong>To:</strong>
  <%= @letter.receiver.email %>
</p>

<p>
  <strong>Sent At:</strong>
  <%= @letter.created_at.strftime("%d %B %Y %H:%M") %>
</p>


<p>
  <%= @letter.content %>
</p>


</div>


<%= link_to 'Back to Inbox', letters_path %>
<% if current_user == @letter.receiver %>
  <%= button_to 'Delete Letter', letter_path(@letter), 
      method: :delete, 
      data: { confirm: 'Are you sure you want to delete this letter?' }, 
      class: 'btn btn-danger' %>
<% end %>